@font-face {
  font-family: italiana;
  src: url(../Fonts/Italiana-Regular.woff2);
}

@font-face {
  font-family: Ysabeau;
  src: url(../Fonts/YsabeauOffice-VariableFont_wght.woff2);
}

h1 {
  font-family: italiana;
  font-weight: 1000;
  font-size: 50px;
  color: #e06c49;
}

h2 {
  font-family: italiana;
  color: #e06c49;
}

h3 {
  font-family: italiana;
  color: #e06c49;
}

h4 {
  font-family: italiana;
}

p {
  font-family: Ysabeau;
}

li {
  font-family: Ysabeau;
  font-weight: 700;
}

body {
  background-color: #edf5ff;
}

.forsideh1 {
  font-size: 400%;
  white-space: nowrap;
}

header {
  background-color: #d2e0ed;
}

.knaptilside {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #e06c49;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Ysabeau;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.knaptilside:hover {
  background-color: #c2563e;
}
