@font-face {
  font-family: italiana;
  src: url(../Fonts/Italiana-Regular.woff2);
}

@font-face {
  font-family: Ysabeau;
  src: url(../Fonts/YsabeauOffice-VariableFont_wght.woff2);
}

@font-face {
  font-family: Montserrat;
  src: url(../Fonts/Montserrat-VariableFont_wght.woff2);
}

body {
  margin: 0;
  padding: 0;
}

li {
  list-style-type: none;
}

h1 {
  font-family: Montserrat;
  font-size: 50px;
  color: #e06c49;
  margin-top: 1em;
}

h2 {
  font-family: Montserrat;
  color: #e06c49;
}

h3 {
  font-family: Montserrat;
  font-weight: 500;
  color: #e06c49;
  margin: 0;
}

h4 {
  font-family: Montserrat;
}

p {
  font-family: Ysabeau;
  font-size: 19px;
}

.navn {
  color: #e06c49;
  font-size: 21px;
  font-weight: 600;
}

.abouttext {
  padding-right: 2em;
  color: rgb(22, 29, 51);
}

.navigation {
  font-family: Montserrat;
}

a.navigation {
  text-decoration: none;
}

a.navigationlink {
  color: #e06c49;
  text-decoration: none;
  font-weight: 500;
}

a.navigationbtn {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.navigation {
  text-align: right;
  margin-top: 3em;
  margin-right: 2em;
}

.navigationbtn {
  background-color: #e06c49;
  padding: 14px 27px;
  margin-left: 1em;
  border-radius: 22px;
}

li {
  font-family: Ysabeau;
  font-weight: 700;
}

nav ul li {
  text-align: right;
  display: inline;
  text-decoration: none;
  list-style: none;
}

body {
  background-color: #edf5ff;
}

.forsideh1 {
  font-size: 100px;
  margin: 0;
  font-family: Montserrat;
  font-weight: 550;
  text-align: center;
  padding-top: 2.5em;
}

.forsideh2 {
  font-size: 200%;
  color: #e06c49;
  text-align: center;
  padding-top: 0em;
  margin: 0;
}

.forsideh3 {
  font-size: 100%;
  color: #e06c49;
  text-align: center;
}

header {
  background-color: #caddef;
}

.bluebg {
  background-color: #caddef;
  border-radius: 10px;
  padding: 1em;
  margin-top: 1.5em;
}

.indexillustration {
  width: auto;
  max-height: 800px;
}

.indexbtn {
  background-color: #edf5ff;
  border: solid #e06c49;
  padding: 16px 40px;
  border-radius: 25px;
  font-family: Montserrat;
  font-size: 14px;
  color: #e06c49;
  font-weight: 550;
}

.indexbtn a {
  color: #e06c49;
  text-decoration: none;
}

.indexbtn:hover {
  box-shadow: 0 10px 10px 0 rgba(77, 86, 100, 0.24), 0 17px 50px 0 rgba(51, 56, 61, 0.19);
  transition: 0.3s;
  transform: scale(1.05);
  background-color: #e06c49;
  border: solid #e06c49;
}

.indexbtn:hover a {
  color: white;
}

.knaptilside {
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  background-color: #e06c49;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-family: Ysabeau;
  border-radius: 7px;
  transition: background-color 0.3s ease;
}

.knaptilside:hover {
  background-color: #c2563e;
}

.projekter-box {
  border: solid #e06c49;
  border-radius: 15px;
  padding: 1em;
  padding-bottom: 1.5em;
  margin: 10px;
}

.projekter-box p {
  padding-bottom: 10px;
}

.projekterbtn {
  background-color: #c2563e;
  padding: 10px 18px;
  border-radius: 16px;
  font-family: Montserrat;
  font-size: 14px;
  font-weight: 500;
}

a.projekterbtn {
  color: white;
  text-decoration: none;
}

.projekterbtn:hover {
  box-shadow: 0 12px 16px 0 rgba(228, 155, 135, 0.24), 0 17px 50px 0 rgba(229, 157, 109, 0.19);
  transform: scale(1.1);
  transition: 0.3s;
}

.portræt {
  width: 100%;
  height: auto;
}

.about-box {
  padding: 1em;
  line-height: 2em;
  color: #e06c49;
}

.kompetencer-icons {
  width: 100%;
  height: auto;
}

.tema4img1 {
}

.tema2forside {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 1em;
  margin-top: 1em;
}

.tema2tekst1 {
  padding-right: 2em;
  line-height: 1.8em;
  padding-top: 1em;
}

.tema2tekst2 {
  padding: 1em;
  padding-right: 2em;
  line-height: 1.8;
}

.tema2operativ {
  max-width: 100%;
  margin-top: 2em;
  border-radius: 10px;
}

.tema2tekst3 {
  line-height: 1.8em;
  padding-top: 1em;
  padding-right: 2em;
}
